alembic
bcrypt
cffi
click
eventlet
Flask
Flask-Bcrypt
Flask-Cors
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
pytest
pytest-cov
gunicorn
itsdangerous
markupsafe
Psycopg2
pycparser
PyJWT
python-dotenv
python-socketio
six
SQLAlchemy
Werkzeug